<div class="col-sm-12" style="text-align:right;">
  <button  mat-icon-button mat-dialog-close color="warn" (click)="sendCreate()">
    <mat-icon>clear</mat-icon>
  </button>
</div>
<div class="card">


  <h5 class="card-header text-center font-weight-bold text-uppercase py-4" id="addAgent">Agents</h5>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-a  dd float-right mb-3 mr-2">
        <a class="text-success" (click)="add()" >
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="bg-info font-italic text-center">Name</th>
          <th class="bg-info font-italic text-center">% Participation</th>
          <th class="bg-info font-italic text-center">Max user links</th>
          <th class="bg-info font-italic text-center">Min user links</th>
          <th class="bg-info font-italic text-center">Remove</th>
        </tr>
        <tr *ngFor="let person of personList; let id = index">
          <td>
            <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="false"><strong>{{person.name}}</strong></span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'participation', $event)" (blur)="updateList(id, 'participation', $event)">{{person.participation}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'maxUserLinks', $event)" (blur)="updateList(id, 'maxUserLinks', $event)">{{person.maxUserLinks}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'minUserLinks', $event)" (blur)="updateList(id, 'minUserLinks', $event)">{{person.minUserLinks}}</span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
            </span>
          </td>
        </tr>

      </table>
      <h5 class="card-header text-center font-weight-bold text-uppercase py-4" id="addSeed">Seeds</h5>
      <span class="table-add float-right mb-3 mr-2">
        <!--a class="text-success" (click)="addSeed()">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a-->
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="bg-info font-italic text-center">Name</th>
          <th class="bg-info font-italic text-center">% Participation</th>
          <th class="bg-info font-italic text-center">Max user links</th>
          <th class="bg-info font-italic text-center">Min user links</th>
          <th class="bg-info font-italic text-center">Remove</th>
        </tr>
        <tr *ngFor="let seed of seedList; let id = index">
          <td>
            <span (keyup)="changeSeedValue(id, 'name', $event)" (blur)="updateSeed(id, 'name', $event)" contenteditable="false"><strong>{{seed.name}}</strong></span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeSeedValue(id, 'participation', $event)" (blur)="updateSeed(id, 'participation', $event)">{{seed.participation}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeSeedValue(id, 'maxUserLinks', $event)" (blur)="updateSeed(id, 'maxUserLinks', $event)">{{seed.maxUserLinks}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeSeedValue(id, 'minUserLinks', $event)" (blur)="updateSeed(id, 'minUserLinks', $event)">{{seed.minUserLinks}}</span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="removeSeed(id)">Remove</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!--div class="card-footer" >
    <button (click)="createSimulation()">boton</button>
  </div-->

</div>
